.AuthTemplate {
  width: 24rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  .title {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #20c997;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .content {
    background: #f8f9fa;
    border: 1px solid #e9ecef;
    border-top: none;
    padding: 1.5rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    .info {
      margin-top: 1rem;
      font-size: 0.875rem;
      color: #868e96;
      a {
        margin-left: 0.25rem;
        color: #343a40;
      }
    }
  }
}
