.AuthForm {
  .error {
    background: #fff0f6;
    border: 1px solid #e64980;
    color: #e64980;
    border-radius: 2px;
    font-size: 0.875rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    input {
      outline: none;
      font-size: 1rem;
      padding: 0.75rem;
    }
    input + input {
      margin-top: 1rem;
    }
  }
  .buttons {
    border-top: 1px solid #dee2e6;
    margin-top: 1.5rem;
    padding-top: 1rem;
    display: flex;
    .full-width {
      flex: 1;
    }
  }
}
