.TweetWrite {
  width: 100%;
  border: 2px solid #38d9a9;
  textarea {
    padding: 0.75rem;
    font-size: 1rem;
    height: 8rem;
    outline: none;
    width: 100%;
    resize: none;
    display: block;
    border: none;
  }
  .wrapper {
    background: #38d9a9;
    display: flex;
    padding: 0.5rem;
    .inputs {
      display: flex;
      input {
        border: 1px solid rgba(255,255,255,0.65);
        background: rgba(0,0,0,0.1);
        display: block;
        padding: 0.25rem;
        font-size: 0.875rem;
        outline: none;
        color: white;
        &::placeholder {
          color: #f8f9fa;
        }
      }
      input + input {
        margin-left: 0.5rem;
      }
    }
    button {
      margin-left: auto;
      border: none;
      background: white;
      outline: none;
      padding: 0.25rem 0.5rem;
      font-size: 1rem;
      font-weight: 600;
      font-size: 0.875rem;
      color: #12b886;
      border-radius: 2px;
      cursor: pointer;
      &:hover {
        background: #f1f3f5;
      }
      &:disabled {
        cursor: not-allowed;
        background: #dee2e6;
        color: #868e96;
      }
    }
  }
}